<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Name:</label>
    <input formControlName="name" />
    <div *ngIf="myForm.controls['name'].touched && myForm.controls['name'].invalid">
      <small  class="error" *ngIf="myForm.controls['name'].errors?.['required']">Name is required.</small>
      <small  class="error" *ngIf="myForm.controls['name'].errors?.['minlength']">Minimum 3 characters required.</small>
    </div>
  </div>

  <div>
    <label>Email:</label>
    <input formControlName="email"  type="email"/>
    <div *ngIf="myForm.controls['email'].touched && myForm.controls['email'].invalid">
      <small  class="error" *ngIf="myForm.controls['email'].errors?.['required']">Email is required.</small>
      <small  class="error" *ngIf="myForm.controls['email'].errors?.['email']">Enter a valid email.</small>
    </div>
  </div>

  <div>
    <label>Password:</label>
    <input type="password" formControlName="password" />
    <div *ngIf="myForm.controls['password'].touched && myForm.controls['password'].invalid">
      <small  class="error" *ngIf="myForm.controls['password'].errors?.['required']">Password is required.</small>
      <small  class="error" *ngIf="myForm.controls['password'].errors?.['minlength']">Minimum 6 characters required.</small>
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
