<nav class="sidebar">
    <ul>
      <li><span routerLink="/employee" >Interpolation</span></li>
      <li><span routerLink="/toggle" >Event Binding</span></li>
      <li><span routerLink="/user" >Two way Data Binding</span></li>
      <li><span routerLink="/loading" >ngIf Structural Directive</span></li>
      <li><span routerLink="/product" >ngFor Structural Directive</span></li>
      <li><span routerLink="/profile" >Attribute Directive</span></li>
      <li><span routerLink="/login" >Custom Directive</span></li>
      <li><span routerLink="/cart" >Signals</span></li>
      <li><span routerLink="/user-form" >Template Driven Form</span></li>
    </ul>
  </nav>
  