<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/employee" routerLinkActive="active">Interpolation</a>
    </li>
    <li>
      <a routerLink="/toggle" routerLinkActive="active">Event Binding</a>
    </li>
    <li>
      <a routerLink="/user" routerLinkActive="active">Two-way Data Binding</a>
    </li>
    <li>
      <a routerLink="/loading" routerLinkActive="active">ngIf Structural Directive</a>
    </li>
    <li>
      <a routerLink="/product" routerLinkActive="active">ngFor Structural Directive</a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active">Attribute Directive</a>
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active">Custom Directive</a>
    </li>
    <li>
      <a routerLink="/cart" routerLinkActive="active">Signals</a>
    </li>
    <li>
      <a routerLink="/user-form" routerLinkActive="active">Template Driven Form</a>
    </li>
    <li>
      <a routerLink="/user-form-reactive" routerLinkActive="active">Reactive Form</a>
    </li>
  </ul>
</nav>
